body{
	background-color:#f5f7fa;
	font-family:"Roboto", sans-serif;
	padding:10px 0;
	text-align:center;
}
#main-title{
	font-size:2em;
	padding:50px;
}
#main-title h1{
	color:#37BC9B;
	font-family:"Chelsea Market",Roboto,sans-serif;
	font-size:4em;
	text-transform:uppercase;
	margin-bottom:0;
	vertical-align:bottom;
}
#main-title .start-button{
	padding:20px 100px;
	background-color:#37BC9B;
	color:white;
	text-decoration:none;
	text-transform:uppercase;
	font-size:.75em;
}
#main-title span{
	transition:all .5s;
}
#main-title .red{
	color:#DA4453;
}
#main-title .green{
	color:#8cc152;
}
#main-title .blue{
	color:#3bafda;
}
#main-title .yellow{
	color:#ffce54;
}
#main-title .purple{
	color:#967ADC;
}
#player{
	background:url(player-front.png);
	position:absolute;
	width:100px;
	height:100px;
	margin:-2px;
	z-index: 5;
	transition:top .5s,left .5s;
    transition-timing-function: linear;
}
#player .companion{
	height:20px;
	width:20px;
	background-color:#F5F7FA;
	box-shadow:0 0 10px 2px #967ADC;
	border-radius:100px;
	position:absolute;
	top:-20px;
	left:-5%;
	opacity:.8;
	z-index: 10;
}
#player.top{
	background:url(player-back.png);
}
#player.right{
	background:url(player-right.png);
}
#player.left{
	background:url(player-left.png);
}
#sidebar{
	height:600px;
	width:250px;
	margin:0;
	display:inline-block;
	text-align:left;
	vertical-align:top;
	position:relative;
}
#programming-panel{
	font-family:"Droid Sans Mono", monospace;
	background-color:#FEFEFE;
	border:2.5px solid #656D78;
	color:#444444;
	padding:10px;
	height:395px;
	margin-top:11px;
	position: relative;
}
#programming-panel .title{
	background-color:#656D78;
	margin:-10px -10px 20px;
	padding:10px;
	color:#FEFEFE;
}

#programming-panel .footer{
	color:#FEFEFE;
	right:0;
	left:0;
	bottom:0;
	position: absolute;
	text-align:center;
}

#programming-panel input{
	min-width:70px;
	font-family: "Droid Sans Mono", monospace;
	font-size: 1em;
	display: inline-block;
}

#submit{
	background-color:#26BC9B;
	border:0;
	color:white;
	font-family:"Droid Sans Mono", monospace;
	padding:10px;
	margin:10px;
}

#submit:hover{
	cursor:pointer;
}

#sidebar h1{
	color:#37BC9B;
	font-family:"Chelsea Market";
	font-size:4em;
	margin:0;
	padding-bottom:8px;
	text-transform:uppercase;
}
#world{
	position:relative;
	display:inline-block;
	max-width:1000px;
	max-height:600px;
	overflow:hidden;
}
#map{
	border-bottom:1px solid #e6e9ed;
	display:inline-block;
	position:relative;
}
#task{
	/*max-width:1000px;
	max-height:600px;
	width: 1000px;
	height: 600px;
	display:inline-block;
	overflow:hidden;*/
	position:absolute;
	width: 100%;
	height: 70%;
	top:0;
	left:0;
	z-index:100;
	padding-top:20px;
}
#speech-panel-wrapper{
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index:10;
	background-color:rgba(50,50,50,.3);
	display:none;
	overflow:hidden;
}
.red #speech-panel-wrapper.in-task{
	background:#A0D468 url(texture_red.png);
}
.yellow #speech-panel-wrapper.in-task{
	background:#eeda75 url(texture_yellow.png);
}
#speech-panel-wrapper.in-task .body .speech{
	height:45px;
}
#speech-panel-wrapper.in-task .fa-times{
	display:none;
}
#speech-panel-wrapper .panel{
	position:absolute;
	bottom:-100%;
	left:0;
	right:0;
	margin:0 auto;
	overflow:hidden;
	text-align:left;
	width:500px;
}
#speech-panel-wrapper .header{
	box-shadow: 0 2px 2px 1px #afafaf;
	color:white;
	padding:10px;
	position:relative;
	z-index:5;
}
#speech-panel-wrapper .header:after{
	content:' ';
	position:absolute;
	right:0;
	bottom:0;
	border:100px solid transparent;
}
#speech-panel-wrapper .header .avatar{
	background-color:#e1e1e1;
	border-radius:100%;
	display:inline-block;
	height:75px;
	margin-right:10px;
	overflow:hidden;
	position:relative;
	margin-top:-40px;
	top:50px;
	width:75px;
}
#speech-panel-wrapper .header .avatar img{
	width:100%;
}
#speech-panel-wrapper .header h2{
	display:inline-block;
	margin:5px 0;
	position:relative;
	z-index:5;
}
#speech-panel-wrapper .header .fa-times{
	position:absolute;
	top:10px;
	right:10px;
	z-index:6;
}
#speech-panel-wrapper .header .fa-times:hover{
	cursor:pointer;
}
#speech-panel-wrapper.red .header{
	background-color:#ED5565;
}
#speech-panel-wrapper.red .header:after{
	border-right-color:#DA4453;
	border-bottom-color:#DA4453;
}
#speech-panel-wrapper.yellow .header{
	background-color:#FFCE54;
}
#speech-panel-wrapper.yellow .header:after{
	border-right-color:#F6BB42;
	border-bottom-color:#F6BB42;
}
#speech-panel-wrapper.dark-gray .header{
	background-color:#656D78;
}
#speech-panel-wrapper.dark-gray .header:after{
	border-right-color:#434A54;
	border-bottom-color:#434A54;
}
#speech-panel-wrapper .body{
	background:#f5f7fa;
	padding:20px 25px 1px;
	padding-left:100px;
}
#speech-panel-wrapper .body .speech{
	height:65px;
}
#speech-panel-wrapper .body .navigation:after{
	content:" ";
	clear:both;
	display:table;
}
#speech-panel-wrapper.red .body span{
	color:#ED5565;
}
#speech-panel-wrapper.yellow .body span{
	color:#FFCE54;
}
#speech-panel-wrapper.dark-gray .body span{
	color:#656D78;
}
#speech-panel-wrapper .body span:hover{
	cursor:pointer;
}
#speech-panel-wrapper .body .next-button{
	float:right;
}
#speech-panel-wrapper .body .start-button{
	float:right;
	display: none;
}
#speech-panel-wrapper .body .prev-button{
	float:left;
}
#answer {
	display: inline-block;
	min-width:5;
}
.house{
	background:url(house.png);
	width:150px;
	height:150px;
	position:absolute;
	margin-top: -50px;
}
.building{
	background:url(building.png);
	width:200px;
	height:200px;
	position:absolute;
	margin-top: -100px;
}
.rosa {
	background:url(npc/rosa-front.png);
	width:100px;
	height:100px;
	position:absolute;
}
.scarlett {
	background:url(npc/scarlett-left.png);
	width:100px;
	height:100px;
	position:absolute;
}
.amber {
	background:url(npc/amber-left.png);
	width:100px;
	height:100px;
	position:absolute;
}
.vernon {
	background:url(npc/vernon-front.png);
	width:100px;
	height:100px;
	position:absolute;
}
.tiny-carrot {
	background:url(npc/tiny-carrot-front.png);
	width:100px;
	height:100px;
	position:absolute;
}
.carrot {
	background:url(npc/carrot-front.png);
	width:100px;
	height:100px;
	position:absolute;
}
.redguard-right {
	background:url(npc/redguard-right.png);
	width:100px;
	height:100px;
	position:absolute;
}
.redguard-left {
	background:url(npc/redguard-left.png);
	width:100px;
	height:100px;
	position:absolute;
}
.row:after{
	content:' ';
	display:table;
	clear:both;
}
.tile{
	float:left;
	width:100px;
	height:100px;
}
.red .tile{
	background:#A0D468 url(tiles_red.png);
}
.red .tile.blank{
	background:#A0D468 url(texture_red.png);
}
.yellow .tile{
	background:#ddda75 url(tiles_yellow.png);
}
.yellow .tile.blank{
	background:#ddda75 url(texture_yellow.png);
}
.tile.water{
	/* background:url(water/water-tiles-02.png); */
}
.tile.left-top-bottom-open{
	background-position-x:-100px;
}
.tile.right-left-open{
	background-position-x:-200px;
}
.tile.left-open{
	background-position-x:-300px;
}
.tile.bottom-open{
	background-position-x:-400px;
}
.tile.right-bottom-open{
	background-position-y:-100px;
}
.tile.right-left-top-bottom-open{
	background-position-x:-100px;
	background-position-y:-100px;
}
.tile.right-left-bottom-open{
	background-position-x:-200px;
	background-position-y:-100px;
}
.tile.left-bottom-open{
	background-position-x:-300px;
	background-position-y:-100px;
}
.tile.top-bottom-open{
	background-position-x:-400px;
	background-position-y:-100px;
}
.tile.right-top-open{
	background-position-y:-200px;
}
.tile.right-left-top-open{
	background-position-x:-100px;
	background-position-y:-200px;
}
.tile.right-top-bottom-open{
	background-position-x:-200px;
	background-position-y:-200px;
}
.tile.left-top-open{
	background-position-x:-300px;
	background-position-y:-200px;
}
.tile.top-open{
	background-position-x:-400px;
	background-position-y:-200px;
}

.house-tile {
}

.building-tile {
}

.rosa-tile {
}

.scarlett-tile {
	
}
.vernon-tile {
	
}
.amber-tile {
	
}
.carrot-tile {
	
}
.tiny-carrot-tile {
	
}
.redguard-right-tile {}
.redguard-left-tile {}

/********************  TREES ********************/
.t1r-tile {} 
.t2r-tile {} 
.t3r-tile {} 
.t4r-tile {} 
.tree-01-red {
	background:url(trees/tree-01-red.png);
	width:100px;
	height:100px;
	position:absolute;
}
.tree-02-red {
	background:url(trees/tree-02-red.png);
	width:100px;
	height:100px;
	position:absolute;
}
.tree-03-red {
	background:url(trees/tree-03-red.png);
	width:100px;
	height:100px;
	position:absolute;
}
.tree-04-red {
	background:url(trees/tree-04-red.png);
	width:100px;
	height:100px;
	position:absolute;
}

.t1b-tile {} 
.t2b-tile {} 
.t3b-tile {} 
.t4b-tile {} 
.tree-01-blue {
	background:url(trees/tree-01-blue.png);
	width:100px;
	height:100px;
	position:absolute;
}
.tree-02-blue {
	background:url(trees/tree-02-blue.png);
	width:100px;
	height:100px;
	position:absolute;
}
.tree-03-blue {
	background:url(trees/tree-03-blue.png);
	width:100px;
	height:100px;
	position:absolute;
}
.tree-04-blue {
	background:url(trees/tree-04-blue.png);
	width:100px;
	height:100px;
	position:absolute;
}

.t1g-tile {} 
.t2g-tile {} 
.t3g-tile {} 
.t4g-tile {} 
.tree-01-green {
	background:url(trees/tree-01-green.png);
	width:100px;
	height:100px;
	position:absolute;
}
.tree-02-green {
	background:url(trees/tree-02-green.png);
	width:100px;
	height:100px;
	position:absolute;
}
.tree-03-green {
	background:url(trees/tree-03-green.png);
	width:100px;
	height:100px;
	position:absolute;
}
.tree-04-green {
	background:url(trees/tree-04-green.png);
	width:100px;
	height:100px;
	position:absolute;
}

.t1y-tile {} 
.t2y-tile {} 
.t3y-tile {} 
.t4y-tile {} 
.tree-01-yellow {
	background:url(trees/tree-01-yellow.png);
	width:100px;
	height:100px;
	position:absolute;
}
.tree-02-yellow {
	background:url(trees/tree-02-yellow.png);
	width:100px;
	height:100px;
	position:absolute;
}
.tree-03-yellow {
	background:url(trees/tree-03-yellow.png);
	width:100px;
	height:100px;
	position:absolute;
}
.tree-04-yellow {
	background:url(trees/tree-04-yellow.png);
	width:100px;
	height:100px;
	position:absolute;
}

.t1p-tile {} 
.t2p-tile {} 
.t3p-tile {} 
.t4p-tile {} 
.tree-01-purple {
	background:url(trees/tree-01-purple.png);
	width:100px;
	height:100px;
	position:absolute;
}
.tree-02-purple {
	background:url(trees/tree-02-purple.png);
	width:100px;
	height:100px;
	position:absolute;
}
.tree-03-purple {
	background:url(trees/tree-03-purple.png);
	width:100px;
	height:100px;
	position:absolute;
}
.tree-04-purple {
	background:url(trees/tree-04-purple.png);
	width:100px;
	height:100px;
	position:absolute;
}
/********************  END TREES ********************/

/******************** HOUSES ********************/
.h1r-tile {} 
.h2r-tile {} 
.h3r-tile {} 
.house-01-red {
	background:url(houses/house-01-red.png);
	width:100px;
	height:100px;
	position:absolute;
}
.house-02-red {
	background:url(houses/house-02-red.png);
	width:100px;
	height:100px;
	position:absolute;
}
.house-03-red {
	background:url(houses/house-03-red.png);
	width:100px;
	height:100px;
	position:absolute;
}

.h1b-tile {} 
.h2b-tile {} 
.h3b-tile {} 
.house-01-blue {
	background:url(houses/house-01-blue.png);
	width:100px;
	height:100px;
	position:absolute;
}
.house-02-blue {
	background:url(houses/house-02-blue.png);
	width:100px;
	height:100px;
	position:absolute;
}
.house-03-blue {
	background:url(houses/house-03-blue.png);
	width:100px;
	height:100px;
	position:absolute;
}

.h1g-tile {} 
.h2g-tile {} 
.h3g-tile {} 
.house-01-green {
	background:url(houses/house-01-green.png);
	width:100px;
	height:100px;
	position:absolute;
}
.house-02-green {
	background:url(houses/house-02-green.png);
	width:100px;
	height:100px;
	position:absolute;
}
.house-03-green {
	background:url(houses/house-03-green.png);
	width:100px;
	height:100px;
	position:absolute;
}

.h1y-tile {} 
.h2y-tile {} 
.h3y-tile {} 
.house-01-yellow {
	background:url(houses/house-01-yellow.png);
	width:100px;
	height:100px;
	position:absolute;
}
.house-02-yellow {
	background:url(houses/house-02-yellow.png);
	width:100px;
	height:100px;
	position:absolute;
}
.house-03-yellow {
	background:url(houses/house-03-yellow.png);
	width:100px;
	height:100px;
	position:absolute;
}

.h1p-tile {} 
.h2p-tile {} 
.h3p-tile {} 
.house-01-purple {
	background:url(houses/house-01-purple.png);
	width:100px;
	height:100px;
	position:absolute;
}
.house-02-purple {
	background:url(houses/house-02-purple.png);
	width:100px;
	height:100px;
	position:absolute;
}
.house-03-purple {
	background:url(houses/house-03-purple.png);
	width:100px;
	height:100px;
	position:absolute;
}
/********************  END HOUSES ********************/

/********************  GATES ********************/
.g1-tile {} 
.gate-lv1 {
	background:url(gates/gate-lv1.png);
	width:100px;
	height:100px;
	position:absolute;
}

.g2-tile {} 
.gate-lv2 {
	background:url(gates/gate-lv2.png);
	width:100px;
	height:100px;
	position:absolute;
}
/******************** END GATES ********************/

/********************  WATER ********************/
.w1-tile {} 
.w2-tile {} 
.w3-tile {} 
.w4-tile {} 
.w5-tile {} 
.water-tiles-01 {
	background:url(water/water-tiles-01.png);
	width:100px;
	height:100px;
	position:absolute;
}
.water-tiles-02 {
	background:url(water/water-tiles-02.png);
	width:100px;
	height:100px;
	position:absolute;
}
.water-tiles-03 {
	background:url(water/water-tiles-03.png);
	width:100px;
	height:100px;
	position:absolute;
}
.water-tiles-04 {
	background:url(water/water-tiles-04.png);
	width:100px;
	height:100px;
	position:absolute;
}
.water-tiles-05 {
	background:url(water/water-tiles-05.png);
	width:100px;
	height:100px;
	position:absolute;
}
/******************** END WATER ********************/

/******************** BRIDGE ********************/
.b-tile { 
	background-image:url(water/water-tiles-01.png)!important; 
} 
.bw-tile {
	background-image:url(water/water-tiles-01.png)!important; 
}
.bridge-50 {
	background:url(bridge/bridge-50.png);
	width:100px;
	height:100px;
	position:absolute;
}
.bridge-100 {
	background:url(bridge/bridge-100.png);
	width:100px;
	height:100px;
	position:absolute;
	z-index: 4;
}
/******************** END BRIDGE ********************/

/******************** THE TROGDOR ******************/
.d1-tile {} 
.d1 {
	background:url(trogdor100.png);
	width:100px;
	height:100px;
	position:absolute;
}

.d2-tile {} 
.d2 {
	background:url(trogdor200.png);
	width:200px;
	height:200px;
	position:absolute;
}
/******************** END TROGDOR ******************/

/******************** SANDSTUFF ******************/
.s1-tile {} 
.sandhouse-01 {
	background:url(houses/sandhouse-01.png);
	width:100px;
	height:100px;
	position:absolute;
}
.c1-tile {} 
.cactus-01 {
	background:url(trees/cactus.png);
	width:100px;
	height:100px;
	position:absolute;
}
/******************** END SANDSTUFF ******************/