body{
	background-color:#f5f7fa;
	font-family:"Roboto";
	padding:10px 0;
	text-align:center;
}
h1{
	color:#37bc9b;
	font-family:"Bangers";
	font-size:3em;
	font-weight:normal;
}
#player{
	background:url(player-front.png);
	position:absolute;
	width:100px;
	height:100px;
	margin:-2px;
}
#player.top{
	background:url(player-back.png);
}
#player.right{
	background:url(player-right.png);
}
#player.left{
	background:url(player-left.png);
}
#board{
	border-bottom:1px solid #e6e9ed;
	display:inline-block;
	position:relative;
}
#npc-panel-wrapper{
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index:10;
	background-color:rgba(50,50,50,.3);
}
#npc-panel-wrapper .panel{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	margin:0 auto;
	overflow:hidden;
	text-align:left;
	width:500px;
}
#npc-panel-wrapper .header{
	box-shadow: 0 2px 2px 1px #afafaf;
	color:white;
	padding:10px;
	position:relative;
	z-index:5;
}
#npc-panel-wrapper .header:after{
	content:' ';
	position:absolute;
	right:0;
	bottom:0;
	border:100px solid transparent;
}
#npc-panel-wrapper .header .avatar{
	background-color:#e1e1e1;
	border-radius:100%;
	display:inline-block;
	height:75px;
	margin-right:10px;
	overflow:hidden;
	position:relative;
	margin-top:-40px;
	top:50px;
	width:75px;
}
#npc-panel-wrapper .header .avatar img{
	width:100%;
}
#npc-panel-wrapper .header h2{
	display:inline-block;
	margin:5px 0;
	position:relative;
	z-index:5;
}
#npc-panel-wrapper .header.red{
	background-color:#ED5565;
}
#npc-panel-wrapper .header.red:after{
	border-right-color:#DA4453;
	border-bottom-color:#DA4453;
}
#npc-panel-wrapper .body{
	background:#f5f7fa;
	padding:20px 25px 1px;
	padding-left:100px;
}
#npc-panel-wrapper .body p{
	text-align:right;
}
#npc-panel-wrapper .body span{
	color:#ED5565;
}
#npc-panel-wrapper .body span:hover{
	cursor:pointer;
}
.house{
	background:url(house.png);
	width:150px;
	height:150px;
	position:absolute;
}
.building{
	background:url(building.png);
	width:200px;
	height:200px;
	position:absolute;
}
.row:after{
	content:' ';
	display:table;
	clear:both;
}
.tile{
	background:#A0D468 url(tiles_100.png);
	float:left;
	width:100px;
	height:100px;
}
.tile.blank{
	background:#A0D468;
}
.tile.left-top-bottom-open{
	background-position-x:-100px;
}
.tile.right-left-open{
	background-position-x:-200px;
}
.tile.left-open{
	background-position-x:-300px;
}
.tile.bottom-open{
	background-position-x:-400px;
}
.tile.right-bottom-open{
	background-position-y:-100px;
}
.tile.right-left-top-bottom-open{
	background-position-x:-100px;
	background-position-y:-100px;
}
.tile.right-left-bottom-open{
	background-position-x:-200px;
	background-position-y:-100px;
}
.tile.left-bottom-open{
	background-position-x:-300px;
	background-position-y:-100px;
}
.tile.top-bottom-open{
	background-position-x:-400px;
	background-position-y:-100px;
}
.tile.right-top-open{
	background-position-y:-200px;
}
.tile.right-left-top-open{
	background-position-x:-100px;
	background-position-y:-200px;
}
.tile.right-top-bottom-open{
	background-position-x:-200px;
	background-position-y:-200px;
}
.tile.left-top-open{
	background-position-x:-300px;
	background-position-y:-200px;
}
.tile.top-open{
	background-position-x:-400px;
	background-position-y:-200px;
}